{% extends 'base.html' %}

{% block body_class %}PSO Sightings{% endblock %}

{% block content %}
<body id="mappage">

<h1>PSO Sightings</h1>
<div class="d-flex justify-content-center"><p>Platform for real time sighting shareing off the North-Eastern US Coast<a href="/list"> list of countries</a>.</p></div>



<div class="center">
<div class = "loginmap">
    <a href="/user/login"><img id="turtle" src="https://i.ibb.co/pyJ46v4/nice-map.png" alt=""></a>
</div>
</div>
</body> 
{% endblock %}
