{% extends 'base.html' %}

{% block content %}




  <div class="col-sm-8">               


    <h4> Sightings: on record: {{ sightings | length }}</h4>
    <ul>
    {% for sighting in sightings %}
    <li>
        <p><b>Sighting Number: </b> {{sighting.sighting_num}} <b>Sighting Species: </b> {{sighting.species}} <b>Date: </b> {{sighting.date}} <b>Time of Sighting: </b> {{sighting.time}} <b>Sighting Location: </b> {{sighting.latitude}}N {{sighting.longitude}}W <b>Number of Individuals: </b> {{sighting.individuals}}</p>
        
    </li>
    {% endfor %}
    </ul>
    </div>
</div>

<div class="row">

</div>
</div>
{% endblock %}
