{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
  <div>            
    <h2 style="text-align: center;">Vessel: {{user.user_name}}</h2>
    <h4 style="text-align: center;"> Sightings on record: {{ user.sightings | length }}</h4>
    <p style="text-align: center;">To see sightings from all Vessels, please visit the <a href="/user/{{ g.user.id }}/all">Home Page</a></p>
 

        {% if g.user.id == user.id %}

        <a href="/user/{{ user.id }}/addsighting" class="btn btn-info btn-sm btn-block"><button class="btn btn-info btn-block">Add Sighting</button></a>
        {% endif %}


 
<div style="margin-top: 10px;">
<ul>
{% for sighting in sightings %}
<li>
  {% if g.user.id == user.id %}
    <p><b>Sighting Number: </b> {{sighting.sighting_num}} <b>Sighting Species: </b> {{sighting.species}} <b>Date: </b> {{sighting.date}} <b>Time of Sighting: </b> {{sighting.time}} UTC <b> Sighting Location: </b> {{sighting.latitude}}°N {{sighting.longitude}}°W <b>Number of Individuals: </b> {{sighting.individuals}}<a href="/sighting/{{sighting.id}}/editsighting"> <button class="btn btn-info btn-sm py-0" style="font-size: 0.8em;">Edit</button></a> </p>
   {% else %} 
   <p><b>Sighting Number: </b> {{sighting.sighting_num}} <b>Sighting Species: </b> {{sighting.species}} <b>Date: </b> {{sighting.date}} <b>Time of Sighting: </b> {{sighting.time}} UTC <b> Sighting Location: </b> {{sighting.latitude}}°N {{sighting.longitude}}°W <b>Number of Individuals: </b> {{sighting.individuals}} </p>
  {% endif %}
  </li>
{% endfor %}
</ul>
</div>
</div>
</div>

{% endblock %}
